html,
body {
  height: 100%; }

.wrapper {
  height: 100%; }

body {
  padding-top: 66px;
  font-family: 'Roboto Condensed', sans-serif; }

.navbar {
  background-color: #b5d054; }
  .navbar li {
    font-size: 1.25rem; }

#header-section {
  position: relative;
  background: url(../img/bg.jpg);
  background-size: cover;
  background-position: center;
  min-height: calc(100vh - 66px);
  min-height: -moz-calc(100vh - 66px);
  min-height: -webkit-calc(100vh - 66px); }
  #header-section:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.6;
    transition: opacity 0.3s ease-in-out; }
  #header-section .white {
    position: relative;
    z-index: 1;
    color: white; }
  #header-section h1 {
    font-family: 'Marmelad', sans-serif; }
  #header-section button {
    border-radius: 1.5rem;
    font-size: 1.25rem; }

#header-teachers h1,
#header-teachers h2,
#header-teachers h3,
#header-teachers h4,
#header-teachers h5,
#header-contacts h1,
#header-contacts h2,
#header-contacts h3,
#header-contacts h4,
#header-contacts h5,
#header-about h1,
#header-about h2,
#header-about h3,
#header-about h4,
#header-about h5,
#header-achiev h1,
#header-achiev h2,
#header-achiev h3,
#header-achiev h4,
#header-achiev h5 {
  font-family: 'Marmelad', sans-serif; }

#header_achiev .display-3 {
  font-family: 'Marmelad', sans-serif; }

#teachers h5 {
  font-family: 'Roboto Condensed', sans-serif; }

#google-maps {
  height: 450px; }

#menu {
  background-color: #fff; }
  #menu button {
    border-radius: 1.5rem;
    font-size: 1.15rem; }
    #menu button a {
      color: black; }
  #menu p {
    font-size: 1.3rem; }
  #menu h1 {
    font-family: 'Marmelad', sans-serif; }

#quote {
  font-family: 'Roboto Condensed', sans-serif; }
  #quote h1 {
    font-family: 'Marmelad', sans-serif;
    font-size: 3rem; }

#footer {
  background: linear-gradient(to right, #f6c905, #e96804); }
  #footer a {
    color: black; }

#contacts h3 {
  font-family: 'Marmelad', sans-serif; }
  #contacts h3 a {
    color: #fff; }

#about h1 {
  font-family: 'Marmelad', sans-serif; }

.message {
  border: 1px solid #d2d0d0;
  padding: 2em;
  font-size: 1.7vw;
  box-shadow: -2px 2px 10px 0px rgba(68, 68, 68, 0.4); }
  @supports (display: grid) {
    .message {
      display: none; } }

.section-grid {
  display: none; }
  @supports (display: grid) {
    .section-grid {
      display: block; } }

.grid {
  display: grid;
  grid-gap: 15px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-auto-rows: 150px;
  grid-auto-flow: row dense; }
  @media screen and (max-width: 768px) {
    .grid {
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); } }

.item {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  box-sizing: border-box;
  background: #0c9a9a;
  color: #fff;
  grid-column-start: auto;
  grid-row-start: auto;
  background: url("https://images.unsplash.com/photo-1470124182917-cc6e71b22ecc?dpr=2&auto=format&fit=crop&w=1500&h=1000&q=80&cs=tinysrgb&crop=");
  background-size: cover;
  background-position: center;
  box-shadow: -2px 2px 10px 0px rgba(68, 68, 68, 0.4);
  transition: transform 0.3s ease-in-out;
  cursor: pointer; }
  .item:nth-of-type(3n) {
    background-image: url("https://images.unsplash.com/photo-1422255198496-21531f12a6e8?dpr=2&auto=format&fit=crop&w=1500&h=996&q=80&cs=tinysrgb&crop="); }
  .item:nth-of-type(4n) {
    background-image: url("https://images.unsplash.com/photo-1490914327627-9fe8d52f4d90?dpr=2&auto=format&fit=crop&w=1500&h=2250&q=80&cs=tinysrgb&crop="); }
  .item:nth-of-type(5n) {
    background-image: url("https://images.unsplash.com/photo-1476097297040-79e9e1603142?dpr=2&auto=format&fit=crop&w=1500&h=1000&q=80&cs=tinysrgb&crop="); }
  .item:nth-of-type(6n) {
    background-image: url("https://images.unsplash.com/photo-1464652149449-f3b8538144aa?dpr=2&auto=format&fit=crop&w=1500&h=1000&q=80&cs=tinysrgb&crop="); }
  .item:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.3;
    transition: opacity 0.3s ease-in-out; }
  .item:hover:after {
    opacity: 0; }
  .item-medium {
    grid-row-end: span 2; }
  .item-large {
    grid-row-end: span 3; }
  .item-full {
    grid-column-end: auto; }
    @media screen and (min-width: 768px) {
      .item-full {
        grid-column: 1/-1;
        grid-row-end: span 2; } }
  .item_details {
    position: relative;
    z-index: 1;
    padding: 15px;
    background: #fff;
    color: #000;
    font-family: 'Marmelad', sans-serif;
    font-size: 1.06rem; }

.about-item {
  padding: 0 5px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  box-sizing: border-box;
  color: #fff;
  box-shadow: -2px 2px 10px 0px rgba(68, 68, 68, 0.4);
  transition: transform 0.3s ease-in-out; }
  .about-item:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.6;
    transition: opacity 0.3s ease-in-out; }
  .about-item:hover {
    transform: scale(1.2);
    z-index: 2; }
    .about-item:hover:after {
      opacity: 0; }
    .about-item:hover .item_details {
      z-index: 0; }

.about-studio {
  background: url(../img/galery_6.jpg);
  background-size: cover;
  background-position: center;
  min-height: 400px; }

.about-achiev {
  background: url(../img/slide_1.jpg);
  background-size: cover;
  background-position: center;
  min-height: 400px; }

.about-teach {
  background: url(../img/teacher_3.jpg);
  background-size: cover;
  background-position: center;
  min-height: 400px; }

.bg-1 {
  background: url(../img/slide_1.jpg);
  background-size: cover;
  background-position: center;
  min-height: 400px;
  background-repeat: no-repeat; }

.bg-2 {
  background: url(../img/slide_2.png);
  background-size: cover;
  background-position: center;
  min-height: 400px;
  background-repeat: no-repeat; }

.bg-3 {
  background: url(../img/slide_3.jpg);
  background-size: cover;
  background-position: center;
  min-height: 400px;
  background-repeat: no-repeat; }

.bg-5 {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 1px 1px 1px 1px rgba(68, 68, 68, 0.4);
  background: url(../img/slide_2.png);
  background-size: cover;
  background-position: center;
  min-height: 200px;
  background-repeat: no-repeat; }

.bg-6 {
  background: url(../img/slide_3.jpg);
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 1px 1px 1px 1px rgba(68, 68, 68, 0.4);
  background-size: cover;
  background-position: center;
  min-height: 200px;
  background-repeat: no-repeat; }

.item_details1 {
  position: relative;
  z-index: 1;
  padding: 15px;
  background: rgba(255, 255, 255, 0.9);
  color: #000;
  font-family: 'Marmelad', sans-serif; }

.teacher_1_img {
  background: url(../img/teacher_1.jpg);
  background-size: cover;
  min-height: 400px;
  background-repeat: no-repeat; }

.teacher_2_img {
  background: url(../img/teacher_2.jpg);
  background-size: cover;
  min-height: 400px;
  background-repeat: no-repeat; }

.teacher_3_img {
  background: url(../img/teacher_3.jpg);
  background-size: cover;
  min-height: 400px;
  background-repeat: no-repeat; }

.item-block {
  height: 450px; }

.modal-full {
  min-width: 100%;
  margin: 0; }
  .modal-full .modal-content {
    min-height: 100vh;
    border: 0;
    border-radius: 0;
    background: linear-gradient(to right, #f6c905, #e96804);
    opacity: 0.99; }

.modal-ul {
  display: flex;
  flex-direction: column;
  padding-left: 0;
  margin-bottom: 0;
  font-size: 1.4rem; }
  .modal-ul .modal-li {
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-right: 0;
    border-left: 0;
    position: relative;
    display: block;
    padding: 0.75rem 1.25rem;
    margin-bottom: -1px; }
    .modal-ul .modal-li a {
      color: white; }

#closeModal {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 2rem; }

@media (max-width: 991px) {
  .navbar li {
    font-size: 1.1rem; }

  #header-section h1 {
    font-size: 5.0rem; }

  .about-pic {
    display: none; }

  #about-text {
    display: none; }

  #header-teachers h1,
  #header-contacts h1,
  #header-achiev h1 {
    font-size: 4.0rem; }

  #google-maps {
    height: 400px; }

  #quote h3 {
    font-size: 1.7rem; } }
@media (max-width: 767px) {
  #header-section h1 {
    font-size: 3.5rem; }

  #header-teachers h1,
  #header-contacts h1,
  #header-achiev h1 {
    font-size: 3.5rem; }

  #presentation-btn {
    display: none; }

  #quote {
    display: none; }

  #google-maps {
    height: 350px; }

  .about-item:hover {
    transform: scale(1.025); }

  .about-studio,
  .about-achiev,
  .about-teach {
    min-height: 200px; }

  #menu {
    color: #fff; }
    #menu button {
      width: 40%; }

  .menu-1 {
    background: url(../img/slide_1.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; }

  .menu-2 {
    background: url(../img/slide_2.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; }

  .menu-3 {
    background: url(../img/slide_3.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; } }
@media (max-width: 575px) {
  #header-section h1 {
    font-size: 2.8rem; }

  #header-teachers h1,
  #header-contacts h1,
  #header-achiev h1 {
    font-size: 2.5rem; }

  #presentation-btn {
    display: none; }

  #quote {
    display: none; }

  #contact h3 {
    font-size: 1.25rem; }
  #contact h5 {
    font-size: 1rem; }

  #contacts {
    background: #fff;
    border: 0 !important;
    box-shadow: none !important; }

  #contacts_cont {
    color: #000;
    margin-top: 3rem; }

  #footer {
    font-size: 0.9rem; }

  #google-maps {
    height: 250px; }

  #menu button {
    width: 60%; }
  #menu p {
    font-size: 1.1rem; }
  #menu h1 {
    font-size: 2.2rem; }

  .navbar .navbar-brand h4 {
    font-size: 1.3rem; } }
